<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Suggested
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-slides>

  <ion-slide>
    <ion-card>
        <img src="/assets/0.png" height="150 px" width="150 px">
      <ion-card-header>
          <ion-card-subtitle>My Profile</ion-card-subtitle>
          <ion-card-title>John Doe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h3>I love games</h3>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
        <img src="/assets/1.png" height="150 px" width="150 px">
      <ion-card-header>
          <ion-card-subtitle>My Profile</ion-card-subtitle>
          <ion-card-title>John Doe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>I love games</h3>
      </ion-card-content>
    </ion-card>
  </ion-slide>

    <ion-slide>
      <ion-card>
          <img src="/assets/2.png" height="150 px" width="150 px">
        <ion-card-header>
            <ion-card-subtitle>My Profile</ion-card-subtitle>
            <ion-card-title>John Doe</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>I love games</h3>
        </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content>
