<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Suggested
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-slides>

  <!-- <ion-slide *ngFor = "let user of userList" >
    <ion-card>
      <img src = "/assets/0.png">
      <ion-card-header>
          <ion-card-subtitle>My Profile</ion-card-subtitle>
          <ion-card-title>John Doe</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h3>I love games</h3>
      </ion-card-content>
    </ion-card>
  </ion-slide> -->

  <ion-slide>
    <ion-card>
        <img src="/assets/0.png" height="150 px" width="150 px">
      <ion-card-header>
          <ion-card-subtitle>My Profile</ion-card-subtitle>
          <ion-card-title>Cheng Wang</ion-card-title>
          <ion-card-title>34</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-icon name="heart"></ion-icon>
          <h3>I am a web developer specializing in React!</h3>
          <h3>1101000100101001101000. Also, I speak English.</h3>
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
        <img src="/assets/1.png" height="150 px" width="150 px">
      <ion-card-header>
          <ion-card-subtitle>My Profile</ion-card-subtitle>
          <ion-card-title>Lisa Stewart</ion-card-title>
          <ion-card-title>24</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-icon name="heart"></ion-icon>
        <h3>Let's link on LinkedIn!</h3>
      </ion-card-content>
    </ion-card>
  </ion-slide>

    <ion-slide>
      <ion-card>
          <img src="/assets/2.png" height="150 px" width="150 px">
        <ion-card-header>
            <ion-card-subtitle>My Profile</ion-card-subtitle>
            <ion-card-title>Yeeze Ye </ion-card-title>
            <ion-card-title>12</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="heart"></ion-icon>
          <h3>Lift yourself to my level</h3>
        </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
      <ion-card>
          <img src="/assets/11.png" height="150 px" width="150 px">
        <ion-card-header>
            <ion-card-subtitle>My Profile</ion-card-subtitle>
            <ion-card-title>Bobbie Roberts </ion-card-title>
            <ion-card-title>34</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="heart"></ion-icon>
          <h3>Computer? I barely know her.</h3>
        </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
      <ion-card>
          <img src="/assets/18.png" height="150 px" width="150 px">
        <ion-card-header>
            <ion-card-subtitle>My Profile</ion-card-subtitle>
            <ion-card-title>Steve Jobs </ion-card-title>
            <ion-card-title>45</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-icon name="heart"></ion-icon>
          <h3>First time programming, kind of nervous.</h3>
        </ion-card-content>
    </ion-card>
  </ion-slide>

</ion-slides>
</ion-content>
