<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Suggested
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-slides>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <img src="/assets/0.png">
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <img src="/assets/1.png">
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="/assets/2.png">
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-content>
