<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/21.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>My Profile</ion-card-subtitle>
        <ion-card-title>Bill$ Geytez</ion-card-title>
        <ion-card-title>17</ion-card-title>
      </ion-card-header>
      <ion-item>
        <h3>I prefer strongly typed langauges, and I prefer tabs over spaces.</h3>
      </ion-item>
    </ion-card>

</ion-content>
