<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src = "/assets/splash.png">
  <ion-item>
      <ion-label>Username</ion-label>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label>Password</ion-label>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
    <ion-button href="/tabs" expand='block' color='primary'>Login</ion-button>
</ion-content>
