<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Hackathons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="https://tamuhack.com/">
    <ion-card class="card"> 
      <ion-img src="/assets/tamuhacklogo.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Texas A&M University</ion-card-subtitle>
        <ion-card-title>tamuhack</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>"Hack" in hackathon is used to describe how technology can be used in a new and innovative way.</p>
      </ion-card-content>

        <ion-tab-button tab="tab4">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Find People!</ion-label>
    </ion-tab-button>

    </ion-card>

  </a>

  <a href="https://www.treehacks.com/">
    <ion-card class="card">
      <ion-img src="/assets/treehackslogo.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Stanford University</ion-card-subtitle>
        <ion-card-title>treehacks</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Join us as we build apps, hardware, and community in the California sun!</p>
      </ion-card-content>

      <ion-tab-button tab="tab4">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Find People!</ion-label>
    </ion-tab-button>

    
    </ion-card>
  </a>

</ion-content>
